<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Cards</title>
</head>

<body>

<div class="container">

    <h3>Cars</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Card Name</th>
            <th>Card Number</th>
            <th>Cecurity Code</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="card : ${cards}">

            <td th:text="${card.cardName}" />
            <td th:text="${card.cardNumber}" />
            <td th:text="${card.securityCode}" />

        </tr>
        </tbody>
    </table>

    <hr>
    <a th:href="@{/user/profile}">Back to the profile </a>

</div>


</body>
</html>



