
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{http://localhost:8762/rest-user-service/auth/login}">Registration and
                Login Module</a>
        </div>
    </div>
</nav>

<br>
<br>
<div class = "container">
    <div class = "row">
        <div class = "col-md-6 col-md-offset-3">

            <h1> User Login Page </h1>


            <!-- error message -->
            <div th:if="${param.error}">
                <div class="alert alert-danger">Invalid username or
                    password.</div>
            </div>

            <!-- logout message -->
            <div th:if="${param.logout}">
                <div class="alert alert-info">You have been logged out.</div>
            </div>

            <div class = "form-group">
                <label for ="email"> Username </label> :
                <input type="text" class = "form-control" id ="email" name = "email"
                       placeholder="Enter Email ID" autofocus="autofocus">
            </div>

            <div class="form-group">
                <label for="password">Password</label>: <input type="password"
                                                               id="password" name="password" class="form-control"
                                                               placeholder="Enter Password" />
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="button" name="btnSave" id="btnSave"
                               class="form-control btn btn-primary" value="Log In" />
                    </div>
                </div>
            </div>
            <div class="form-group">
						<span>New user? <a href="/" th:href="@{http://localhost:8762/rest-user-service/auth/register}">Register
								here</a></span>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
<script>
    $(function() {
        $("#btnSave").click(function () {
            var email=$("#email").val();
            var password=$("#password").val();
            $.ajax({
                cache: true,
                type: "POST",
                url: "http://localhost:8762/rest-user-service/login",
                contentType: "application/json;charset=UTF-8",
                data:JSON.stringify({"email":email ,"password" : password}),
                dataType: "text",
                async: false,
                error: function (response) {
                    console.log("Connection error" + response);
                },
                success: function (data) {
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:8762/rest-user-service/auth/index",
                        headers: {'Authorization' : data},
                        xhrFields: {
                            withCredentials: true
                        },
                        cache: false,
                        timeout: 600000,
                        success: function (data) {
                            console.log(data)
                            $(location).attr('href', 'http://localhost:8762/rest-user-service/auth/index')
                        },
                        error: function (e) {

                        }
                    });
                }
            });
        });
    });
</script>
</body>
</html>

